/* Color palette */

// base color
$white: #ffffff;
$black: #000000;

// text color
$jasmine: #ffe17d;
$navajo-white: #ffe1a7;

// border color
$orange-yellow: #f7c96c;
$medium-champagne: #eadca8;
$rose-pink: #ff77d9;
$gold: #e5ce98;

// background color
$smoky-black: #14070a;

// rgba color
$black-80: rgba(0, 0, 0, 0.8);
$rose-pink-50: rgba(255, 119, 217, 0.5);
